In [3]:
import pandas as pd

# Step 1: Create a tiny dataset(like a table)

data = {
    'engine_cc' : [150, 200, 250, 400, 180, 1300, 1600, 2000, 2500, 1800],
    'weight_kg' : [180, 220, 210, 250, 160, 1200, 1300, 1500, 1700, 1400],
    'label'     : ['motorcycle', 'motorcycle', 'motorcycle', 'motorcycle', 'motorcycle', 'car', 'car', 'car', 'car', 'car']
}


df = pd.DataFrame(data)

In [7]:
# Step 2: Show the dataset

print(df)

   engine_cc  weight_kg       label
0        150        180  motorcycle
1        200        220  motorcycle
2        250        210  motorcycle
3        400        250  motorcycle
4        180        160  motorcycle
5       1300       1200         car
6       1600       1300         car
7       2000       1500         car
8       2500       1700         car
9       1800       1400         car

In [8]:
# Get the first five rows
print(df.head(5))

   engine_cc  weight_kg       label
0        150        180  motorcycle
1        200        220  motorcycle
2        250        210  motorcycle
3        400        250  motorcycle
4        180        160  motorcycle

In [9]:
# Get the last five rows
print(df.tail(5))

   engine_cc  weight_kg label
5       1300       1200   car
6       1600       1300   car
7       2000       1500   car
8       2500       1700   car
9       1800       1400   car

In [ ]:
# Save the dataset

df.to_csv("tiny_vehicle.csv", index=False)